.billReferenceContainer{
    font-size: 24px;
}
.cardTable{
    padding: 2%;
    min-width: 80vh
}
.orderNote{
    min-height: 20vh;
}
.rowConsignment{
    background-color: rgba(217, 217, 217, 0.5);
    box-shadow: 15px;
}