.searchField{
    width: 30%;
}
.toolbar{
    display: flex;
    justify-content: space-between;
}
.selectBox{
    width: 50%;
}
.labelDateRange{
    font-size: 24px;
    margin: 24px;
}
.panelFilter{
    padding: 24px 0;
}
.cardStyle{
    padding: 12px;
}
.labelCheckbox{
    color: #29A3E2;
}
.labelPanelFilter{
    font-size: 24px;
    margin: 0 24px  24px 24px;
}